.skills {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f8f9fa;
    background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
}

.skills-header {
    align-self: center;
    text-align: center;
    color: black;
}

.skills-header h2 {
    display: inline-block;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
}

.tech-list-grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    height: 250px;
    gap: 10px 50px;
    align-self: center;
    margin-top: 30px;
    padding: 15px;
}

.tech-list-grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}